.container {
    background-color: bisque;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card{
    background-color: white;
    height: 60vh;
    width: 30vw;
    box-shadow: 3px 3px 5px #b3b3b3;
    border-radius: 10px;
    min-width: 20em;
    max-width: 30em;
}

.task-input{
    display: flex;
    justify-content: center;
    margin: 1.5em 0 1.5em 0;
}

.task-input input {
    padding: 5px;
    margin: 0 5px 0 0;
}

.task-list {
    background-color: rgb(235, 219, 201);
    margin: 1.5em;
    padding: 1em;
}




