.container{
    background-color: burlywood;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.card {
    background-color: white;
    height:60vh;
    width:50vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.task-input {
    padding: 20px;
    font-size: 16px;
    border: 2px solid #FFF;
}

.task-input input {
    padding:9px;
}
.task-input button{
    padding: 10px;
    font-size: 10px;
    margin: 10px;
    background-color:rgb(224, 174, 113) ;
    color:black;
    
}



.task-list{
    align-self: flex-start;
}

